:root {
    --bg-color: #0d0d11;
    --link-blue: #3d96f4;
    --link-border: #81818B33;
    --white-color: white;
    --main-gray-color: #9c9c9c;
    --card-bg: #81818B1A;
    --date-color: #81818BE5;
}