.block-model{
    width: 400px;
    height: 100px;
    padding: 10px 20px; 
    margin: 20px 20px; 
    border-top: 15px solid purple;
    border-right: 15px double  blue;
    border-bottom: 15px groove  cyan ;
    border-left: 15px inset palevioletred;

    overflow: scroll;

}
.block-model_2{
 
    width: 400px;
    min-height: 100px;
    padding: 10px 20px; 
    margin: 20px 20px; 
    border-top: 15px outset  green;
    border-right: 15px dotted   yellowgreen;
    border-bottom: 15px dashed    yellow;
    border-left: 15px ridge  lightgreen;
}