@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 30px 15px 0 15px;
  max-width: 1100px;
}

.example__wrapper {
  margin-top: 100px;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.red {
  background-color: red;
}

.blue {
  background-color: rgb(75, 75, 245);
}

.greenyellow {
  background-color: rgb(238, 234, 8);
}

.blueviolet {
  background-color: rgb(160, 83, 233);
}

.green {
  background-color: rgb(23, 151, 23);
}

/* === ! block__container === */

.block {
  border: 3px solid black;
}

.block__flex {
  min-height: 700px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* justify-content: space-evenly; */
  align-items: center;
  /* flex-wrap: wrap; */
}

.block__item {
  padding: 20px;
  font-size: 30px;
  font-weight: 900;
  /* width: 300px;
  flex-shrink: 0; */
  /* flex-basis: 50px;
  flex-grow: 1;
  flex-shrink: 0;
  flex: grow shrink basis; */
  /* flex: 50px 1 0; */
  /* flex-wrap: wrap; */

  /* Одне значення, число без розмірності: flex-grow
  flex: 2;
  Одне значення,ширина/висота: flex-basis 
  flex: 250px;
  Два значення: flex-grow | flex-basis 
  flex: 1 30px;
  Два значення: flex-grow | flex-shrink 
  flex: 2 2;
  Три значення: flex-grow | flex-shrink | flex-basis 
  flex: 2 1 25%; */
}

.block-1 {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: flex-start;
}

.block-2 {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: auto;
}

.block-3 {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: stretch;
}

.block-4 {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: baseline;
}

.block-5 {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: flex-end;
}